@import url("https://fonts.googleapis.com/css?family=Lato:100");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Source+Sans+Pro:200,300,400");
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../assets/fonts/Roboto-Thin.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../assets/fonts/Roboto-Light.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../assets/fonts/Roboto-Regular.ttf") format("ttf");
}

body {
  font-family: Monospace;
  background-color: #fff;
  margin: 0px;
  overflow: hidden;
  color: #00BAFF;
}

canvas {
  position: absolute;
  right: 0px;
}

button:focus {
  outline: 0;
}

p {
  -webkit-margin-after: 0em;
  -webkit-margin-before: 0em;
}

.button {
  color: #fff;
  background: linear-gradient(-90deg, #00FFFF, #00BAFF) no-repeat;
  width: 20vw;
  margin: auto;
  margin-top: 1vh;
  border: 0px;
  border-radius: 36px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  cursor: pointer;
  padding: 0.2em 0.5em;
  font-size: 1.1em;
  transition: filter .6s, -webkit-filter .6s, box-shadow .6s;
  letter-spacing: 1.6px;
}

.button:hover {
  filter: brightness(112%);
  -webkit-filter: brightness(112%);
  box-shadow: 0px 6px 18px rgba(0, 186, 255, 0.3);
}

.button:active {
  transition: filter .6s, -webkit-filter .6s, box-shadow .6s;
  filter: brightness(90%);
  transform: translateY(2px);
  box-shadow: 0px 6px 18px rgba(0, 186, 255, 0.3);
}

.button:focus {
  -webkit-focus-ring-color: none 0px;
}

.button.w {
  background: #fff;
  border: 1px solid #00BAFF;
  color: #00BAFF;
  font-size: 1em;
}

.button.w:hover {
  filter: brightness(100%);
  -webkit-filter: brightness(100%);
  box-shadow: 0px 6px 18px rgba(0, 186, 255, 0.3);
}

#slice_btn {
  position: absolute;
  top: calc(100vh - 45px);
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  width: 42%;
  margin-left: 23%;
}

#back_to_models {
  position: absolute;
  top: calc(100vh - 45px);
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  width: 42%;
  z-index: 20;
  margin-left: 23%;
}

#back_to_gcode {
  position: absolute;
  top: calc(100vh - 45px);
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  width: 42%;
  z-index: 20;
  margin-left: 23%;
}

#manual_btn {
  position: absolute;
  top: calc(100vh - 45px);
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  width: 42%;
  margin-left: -23%;
}

#show_gcode {
  position: relative;
  margin-left: 4px;
}

#info {
  color: #00BAFF;
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display: block;
}

a {
  color: #00BAFF;
}

.highlight {
  background: orange;
  color: #fff;
}

span {
  display: inline-block;
  width: 60px;
  text-align: center;
}

#drag-file {
  background: rgba(0, 186, 255, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0.4;
  transition: all .4s;
  visibility: hidden;
}

.side_bar {
  width: 24vw;
  height: 100vw;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 99;
  padding: 20px;
  border-image: linear-gradient(to bottom, #00FFFF 20%, #40449F 100%);
  border-image-slice: 1;
  border-width: 2px;
  border-right: 2px solid;
  background-color: #fff;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.14);
}

.side_bar_hr {
  width: 90%;
  left: 0px;
  position: relative;
  border: none;
  border-bottom: Solid 1px #00BAFF;
  color: #00BAFF;
  background-color: #fff;
  height: 1px;
  margin-top: 10px;
}

.logo_top {
  background-image: url("../assets/img/earc_slicer_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15vw;
  height: 5vw;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.top_bar {
  width: 75vw;
  height: 1vh;
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 90;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 171, 255, 0.4);
}

.icon_btn {
  height: 25px;
  width: 30px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  transition: all .1s;
}

.icon_btn:active {
  filter: brightness(60%);
}

#camera_presp_view {
  background: url("../assets/img/perspective_view_icon.svg") no-repeat;
}

#camera_top_view {
  background: url("../assets/img/top_view_icon.svg") no-repeat;
}

#camera_front_view {
  background: url("../assets/img/front_view_icon.svg") no-repeat;
}

#camera_side_view {
  background: url("../assets/img/side_view_icon.svg") no-repeat;
}

#set_floor {
  background: url("../assets/img/set_floor_icon.svg") no-repeat;
}

#delete_object {
  background: url("../assets/img/remove_icon.svg") no-repeat;
}

#rotate_object {
  background: url("../assets/img/rotate_icon.svg") no-repeat;
}

#rotate_object_y {
  background: url("../assets/img/y_rotate_icon.svg") no-repeat;
}

#rotate_object_x {
  background: url("../assets/img/x_rotate_icon.svg") no-repeat;
}

#rotate_object_z {
  background: url("../assets/img/z_rotate_icon.svg") no-repeat;
}

#rotate_object_manual {
  background: url("../assets/img/manula_rotate_icon.svg") no-repeat;
}

#scale_object {
  background: url("../assets/img/scale_icon.svg") no-repeat;
}

.unify_scale {
  background: url("../assets/img/scale_icon.svg") no-repeat;
}

.no_unify_scale {
  background: url("../assets/img/manula_rotate_icon.svg") no-repeat;
}

.rotation_menu {
  position: absolute;
  display: none;
  z-index: 89;
  width: 200px;
  height: 40px;
  background-color: #fff;
  top: calc(1vh + 41px);
  left: 278px;
  border: solid 1px #00BAFF;
  border-top: none;
  transition: all .4s;
  opacity: 0;
}

.rotation_menu.active {
  opacity: 1;
  display: block;
}

.rotation_menu_manual {
  position: relative;
  display: none;
  opacity: 0;
}

.rotation_menu_manual.active {
  opacity: 1;
  display: block;
  margin-top: 36px;
}

.scale_menu_manual {
  position: relative;
  display: none;
  opacity: 0;
}

.scale_menu_manual.active {
  opacity: 1;
  display: block;
  margin-top: 36px;
}

.top_tool_bar {
  position: relative;
  left: 80px;
  height: 100%;
  width: auto;
  text-align: left;
  float: left;
}

#back_to_models, #back_to_gcode {
  display: none;
}

#model_list_div {
  text-align: left;
  position: relative;
  width: 95%;
  left: -38px;
  padding-top: 4px;
}

#model_list_div li {
  list-style-type: none;
  text-align: left;
  word-wrap: break-word;
}

.model_menu_li {
  position: relative;
  height: auto;
  padding: 4px;
  border: 1px solid #ccc;
  margin-bottom: -1px;
  list-style-type: none;
  text-align: left;
  word-wrap: break-word;
  width: 98%;
  color: #aaa;
  z-index: 10;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  background-color: #fff;
  cursor: pointer;
  transition: all .4s;
}

.model_menu_li:hover {
  border-color: #00BAFF;
  color: #00BAFF;
  z-index: 20;
}

.model_menu_li p {
  width: calc(100% - 20px);
}

.del_model_btn {
  position: absolute;
  height: 16px;
  width: 16px;
  float: right;
  right: 5px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all .4s;
}

.del_model_btn:hover {
  filter: brightness(60%);
}

#model_li_p {
  user-select: none;
}

.models_scroll_box {
  position: relative;
  width: 100%;
  top: -11px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 30vh;
  max-height: 30vh;
  word-wrap: break-word;
  margin-bottom: 20px;
  overflow-y: auto;
}

.top_text_beta {
  position: relative;
  float: right;
  right: 20px;
  margin-top: -3px;
}

.cross_icon {
  background-image: url("../assets/img/cross_icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.import_input {
  display: none;
}

.label_import_btn {
  width: 20vw;
  display: block;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: -19px;
}

.easy_settings {
  position: absolute;
  width: 85%;
  top: 48.8vh;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 43vh;
  margin-bottom: 20px;
}

.p_hl {
  float: left;
  text-align: left;
  color: #ccc;
}

.loading_screen_slice {
  background: linear-gradient(45deg, #00BAFF, #00F0FF);
  width: 74.2vw;
  height: calc(100vh - 30px);
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 0;
  z-index: 50;
  transition: all .6s;
}

.loading_screen_slice.hide {
  opacity: 0;
}

.loading_screen_slice.show {
  opacity: 1;
}

.loader_slicer {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one .6s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two .6s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three .6s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.loading_screen {
  background: linear-gradient(45deg, #00BAFF, #00F0FF);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  transition: all .6s;
}

.loading_screen.hide {
  opacity: 0;
}

.loader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  perspective: 800px;
}

.inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one .6s linear infinite;
  border-bottom: 3px solid #EFEFFA;
}

.inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two .6s linear infinite;
  border-right: 3px solid #EFEFFA;
}

.inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three .6s linear infinite;
  border-top: 3px solid #EFEFFA;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.ui-slider-handle:focus {
  outline: none;
}

.ui-slider-handle {
  display: none;
}

.easy_set_div {
  text-align: left;
  margin-top: 10px;
}

.easy_set_div p {
  margin-left: 10px;
}

.slider_value {
  text-align: right;
  display: inline-block;
  float: right;
  margin-top: -12px;
  margin-right: 10px;
}

#quality_slider, #infill_slider, #gcode_slider {
  width: 90%;
  left: 5%;
  -webkit-focus-ring-color: none 0px;
  margin-top: 10px;
}

#quality_slider.ui-slider, #infill_slider.ui-slider, #gcode_slider.ui-slider {
  background: linear-gradient(to left, #00FFFF, #00BAFF);
  border: none;
  border-radius: 0;
}

#quality_slider.ui-slider .ui-slider-handle, #infill_slider.ui-slider .ui-slider-handle, #gcode_slider.ui-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  border-radius: 50% 50% 0;
  border-color: transparent;
  transition: border 0.4s ease;
}

#quality_slider.ui-slider .ui-slider-pip .ui-slider-line, #infill_slider.ui-slider .ui-slider-pip .ui-slider-line, #gcode_slider.ui-slider .ui-slider-pip .ui-slider-line {
  background: rgba(255, 255, 255, 0.6);
  transition: all 0.4s ease;
}

#quality_slider.ui-slider.ui-slider-horizontal, #infill_slider.ui-slider.ui-slider-horizontal, #gcode_slider.ui-slider.ui-slider-horizontal {
  height: 4px;
  border-radius: 6px;
}

#quality_slider.ui-slider.ui-slider-horizontal .ui-slider-handle, #infill_slider.ui-slider.ui-slider-horizontal .ui-slider-handle, #gcode_slider.ui-slider.ui-slider-horizontal .ui-slider-handle {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  top: -25px;
  margin-left: -10px;
}

#quality_slider.ui-slider.ui-slider-horizontal .ui-slider-pip, #infill_slider.ui-slider.ui-slider-horizontal .ui-slider-pip, #gcode_slider.ui-slider.ui-slider-horizontal .ui-slider-pip {
  top: 0px;
}

#quality_slider.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line, #infill_slider.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line, #gcode_slider.ui-slider.ui-slider-horizontal .ui-slider-pip .ui-slider-line {
  margin-left: -1px;
  height: 6px;
  width: 1px;
  border-radius: 12px;
}

#quality_slider.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line, #infill_slider.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line, #gcode_slider.ui-slider.ui-slider-horizontal .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
  height: 11px;
  width: 12px;
  transform: translate(-6px, -4px);
}

#quality_slider.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line, #infill_slider.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line, #gcode_slider.ui-slider.ui-slider-horizontal .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  height: 6px;
}

#quality_slider.ui-slider.ui-slider-vertical, #infill_slider.ui-slider.ui-slider-vertical, #gcode_slider.ui-slider.ui-slider-vertical {
  width: 6px;
  height: 125px;
  display: inline-block;
  margin: 0 15%;
}

#quality_slider.ui-slider.ui-slider-vertical .ui-slider-handle, #infill_slider.ui-slider.ui-slider-vertical .ui-slider-handle, #gcode_slider.ui-slider.ui-slider-vertical .ui-slider-handle {
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  left: -25px;
  margin-bottom: -10px;
}

#quality_slider.ui-slider.ui-slider-vertical .ui-slider-pip, #infill_slider.ui-slider.ui-slider-vertical .ui-slider-pip, #gcode_slider.ui-slider.ui-slider-vertical .ui-slider-pip {
  left: 10px;
}

#quality_slider.ui-slider.ui-slider-vertical .ui-slider-pip .ui-slider-line, #infill_slider.ui-slider.ui-slider-vertical .ui-slider-pip .ui-slider-line, #gcode_slider.ui-slider.ui-slider-vertical .ui-slider-pip .ui-slider-line {
  height: 2px;
  width: 10px;
  margin-top: -1px;
}

#quality_slider.ui-slider.ui-slider-vertical .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line, #infill_slider.ui-slider.ui-slider-vertical .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line, #gcode_slider.ui-slider.ui-slider-vertical .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line {
  width: 20px;
}

#quality_slider.ui-slider.ui-slider-vertical .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line, #infill_slider.ui-slider.ui-slider-vertical .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line, #gcode_slider.ui-slider.ui-slider-vertical .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  width: 12px;
}

#quality_slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip, #quality_slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip, #infill_slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip, #infill_slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip, #gcode_slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip, #gcode_slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip {
  visibility: visible;
  opacity: 1;
  border: none;
  background: transparent;
  left: 50%;
  width: 30px;
  margin-left: -15px;
  text-align: center;
  color: white;
  font-weight: normal;
  top: 10px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

#quality_slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip:before, #quality_slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip:before, #infill_slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip:before, #infill_slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip:before, #gcode_slider.ui-slider.ui-slider-vertical .ui-slider-handle .ui-slider-tip:before, #gcode_slider.ui-slider.ui-slider-vertical .ui-slider-handle[class*=ui-state-] .ui-slider-tip:before {
  display: none;
}

#quality_slider .ui-slider-handle, #quality_slider .ui-slider-range, #infill_slider .ui-slider-handle, #infill_slider .ui-slider-range, #gcode_slider .ui-slider-handle, #gcode_slider .ui-slider-range {
  background-color: #ccc;
}

#quality_slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line, #quality_slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line, #infill_slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line, #infill_slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line, #gcode_slider .ui-slider-pip[class*=ui-slider-pip-selected] .ui-slider-line, #gcode_slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
  background-color: #00FFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.easy_set_div_label {
  color: #aaa;
}

.label_preset_select {
  margin-top: 6px;
}

.label_preset_material {
  margin-top: -13px;
  display: inline-block;
  float: right;
  margin-right: 10px;
  text-align: right;
  color: #00BAFF;
}

.label_preset_save {
  margin-left: 80px;
  color: #808080;
}

.label_preset_note {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 20px;
}

.label_preset_note_as {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 75px;
}

.label_infill_type {
  margin-top: 15px;
}

.preset_select {
  margin-top: 4px;
  display: block;
  position: relative;
  margin-left: 10px;
  text-align: left;
  margin-bottom: 6px;
}

.preset_select .select {
  width: calc(100% - 10px) !important;
}

.preset_select_save {
  margin-top: 4px;
  display: block;
  position: relative;
  left: 50% !important;
  transform: translateX(-50%) !important;
  text-align: center;
  margin-bottom: 6px;
  z-index: 99;
  margin-left: -4px;
}

.preset_select_save .select {
  width: 60% !important;
}

.infill_type {
  margin-top: -20px;
  display: block;
  position: relative;
  right: 10px;
  text-align: right;
  margin-bottom: 6px;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 14px;
  color: #888888;
  width: 60%;
  height: 28px;
}

.select-styled {
  text-align: left;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #ccc transparent transparent transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}

.select-styled:hover {
  background-color: #fff;
}

.select-styled:active, .select-styled.active {
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  color: #00BAFF;
}

.select-styled:active:after, .select-styled.active:after {
  top: 3px;
  border-color: transparent transparent #ccc transparent;
}

.no_select {
  user-select: none;
}

#gcode_ui_side_bar {
  display: none;
}

.select-options {
  text-align: left;
  transition: all .4s;
  user-select: none;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.select-options li {
  margin: 0;
  user-select: none;
  padding: 6px 0;
  text-indent: 10px;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.select-options li:hover {
  color: #00BAFF;
  background: #fff;
  border-bottom: 1px solid #00BAFF;
}

.select-options li[rel="hide"] {
  user-select: none;
  display: none;
}

.switch_set {
  float: left;
  position: relative;
  margin-left: 10px;
  display: inline-block;
}

.sw_label_set {
  margin-top: 2px;
  left: 3px;
  position: relative;
  z-index: 10;
}

.btn-toggle {
  z-index: 40;
  cursor: pointer;
  margin: 0 4px;
  padding: 0;
  position: relative;
  border: none;
  height: 1.3rem;
  width: 2.5rem;
  border-radius: 1.3rem;
  color: #6b7381;
  background: #ccc;
}

.btn-toggle:focus, .btn-toggle.focus, .btn-toggle:focus.active, .btn-toggle.focus.active {
  outline: none;
}

.btn-toggle:before, .btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.btn-toggle:before {
  content: '';
  left: 0rem;
  display: none;
}

.btn-toggle:after {
  content: '';
  right: 0rem;
  display: none;
}

.btn-toggle > .handle {
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  width: 1.09rem;
  height: 1.09rem;
  border-radius: 1.09rem;
  background: #fff;
  transition: left 0.25s;
}

.btn-toggle > .handle_2 {
  position: absolute;
  top: 0.13rem !important;
  left: 0.1rem;
  width: 1.09rem;
  height: 1.05rem !important;
  border-radius: 1.09rem;
  background: #fff;
  transition: left 0.25s;
}

.btn-toggle.active {
  transition: background-color 0.25s;
}

.btn-toggle.active > .handle {
  left: 1.3rem !important;
  transition: left 0.25s;
}

.btn-toggle.active:before {
  opacity: 0.5;
}

.btn-toggle.active:after {
  opacity: 1;
}

.btn-toggle.btn-sm:before, .btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}

.btn-toggle.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-xs:before, .btn-toggle.btn-xs:after {
  display: none;
}

.btn-toggle:before, .btn-toggle:after {
  color: #6b7381;
}

.btn-toggle.active {
  background: linear-gradient(-90deg, #00FFFF, #00BAFF) no-repeat;
}

.loading_screen_app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 999;
}

.done_screen_app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 990;
  display: none;
}

.done_screen_app h2 {
  position: absolute;
  top: 22vh;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 999;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #00BAFF;
  font-size: 2em;
}

.error_screen_app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  z-index: 990;
  display: none;
}

.error_screen_app h2 {
  position: absolute;
  top: 22vh;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 999;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #CB5252;
  font-size: 2em;
}

.save_pres_app {
  padding: 10px;
  position: relative;
  width: 100%;
  height: 100%;
}

.saveas_pres_app {
  padding: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.save_pres_app_h2 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -6px;
}

.app_content_save_pres {
  position: relative;
  width: 100%;
  height: auto;
  top: 50px;
}

.save_pres_btn {
  width: 33vw;
  position: relative;
}

.save_pres_btn_group {
  position: relative;
  width: 68%;
  left: 50%;
  margin-top: 10px;
  transform: translateX(-50%);
}

.inp_name_pres_save {
  width: 60%;
  color: #808080;
  font-family: Monospace;
  font-size: 1.4em;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 6px;
  -webkit-focus-ring-color: none 0px;
}

.inp_name_pres_save:focus {
  -webkit-focus-ring-color: none 0px;
  outline: none;
}

#saveas_pres_btn_save {
  width: 42% !important;
  left: 50%;
  transform: translateX(-50%);
}

#iframe_analyzer {
  z-index: 990;
  width: 300px;
  height: 300px;
  position: absolute;
}

.select-options {
  max-height: 33vh;
  overflow-y: auto;
}

.pp_inf {
  color: #808080;
}

.print_info_box {
  margin-top: 20px;
  text-align: left;
}

.dg.main {
  z-index: 999 !important;
  margin-top: 60px;
}
